
nohup.out
dudaq.tar
dudaq/myfiles/.DS_Store
*.o
dudaq.tar
dudaq.tar
fft.pdf
Hist.root
tools/Hist
dudaq/myfiles/du_monitor.h~
dudaq/myfiles/Makefile~
dudaq/myfiles/monitor.c~
*.root
tools/Traces
tools/Traces
dudaq/.DS_Store
